.icon-large {
  font-size: 3rem; /* Ajusta el tamaño según sea necesario */
  color: rgb(208, 210, 208); /* Cambia el color a verde */
}

/* Clase para el contenedor del ícono */
.icon-container {
  position: fixed; /* Fijo en la pantalla */
  bottom: 20px; /* Espaciado desde el fondo */
  right: 70px; /* Espaciado desde la derecha */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}