.layout-with-sidebar {
  display: flex;
}

.main-content-wrapper {
  flex-grow: 1;
  margin-left: 90px; /* Ajusta este valor al ancho de tu Navbar */
  padding: 20px;
}

.main-content {
  width: 100%;
}

